.container-fluid
  .row
    .col-12.banner-image
      = render "layouts/banner"
    .col-12.choose-location-container.overflow-true
      = render "extras/button", content: choose_location
    .col-12.what-is
      = render "layouts/what-is"
    .col-12.buy-location
      = render "layouts/buy_location"
      .buy-location-trees
    .col-12.our-adventures
      = render "layouts/our_adventures"
